---
import Contact from "../components/Contact.astro";
import Customers from "../components/Customers.astro";
import Gallery from "../components/Gallery.astro";
import Hero from "../components/Hero.astro";
import Location from "../components/Location.astro";
import Services from "../components/Services.astro";
import Whoiam from "../components/Whoiam.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Misitio">
	<main>
		<Hero />
		<Whoiam />
		<Services />
		<Gallery />
		<Customers />
		<Contact />
		<Location />
	</main>
</Layout>
