---
import { siteConfig } from "../config";
const { opinions } = siteConfig;
---

<section id="Customers" class="px-2 py-12 bg-gray-100">
    <div class="max-w-5xl mx-auto">
        <h2 class="font-bold text-4xl">Opiniones de nuestros clientes</h2>

        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {
                        opinions.map((item, index) => {
                            return (
                                <li class="glide__slide p-8">
                                    <article class="bg-white p-8 rounded-md shadow relative">
                                        <span class="p-2 bg-accent text-white inline-block rounded-full absolute -top-2 -right-2">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke-width="1.5"
                                                stroke="currentColor"
                                                class="size-6"
                                            >
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z"
                                                />
                                            </svg>
                                        </span>

                                        <p class="text-pretty">
                                            {item.opinion}
                                        </p>
                                        <div class="flex items-center gap-2 mt-4">
                                            <figure class="w-[40px] h-[40px] overflow-hidden rounded-full shadow hover:-translate-y-2 transition-transform group">
                                                <img
                                                    src={item.avatar}
                                                    alt={item.name}
                                                    class="w-full h-full object-cover group-hover:scale-110 transition"
                                                />
                                            </figure>
                                            <p class="font-bold">{item.name}</p>
                                        </div>
                                    </article>
                                </li>
                            );
                        })
                    }
                </ul>
            </div>
        </div>

        <div class="grid md:grid-cols-3 gap-4 mt-4"></div>
    </div>
</section>
