<footer id="Footer">
    Logo / nombre / Descripcion corta / Redes sociales / Whatsapp btn
</footer>

<div class="fixed bottom-4 right-4">
    <a href="">
        <img
            src="/img/whatsapp.png"
            width="24"
            height="24"
            alt="WhatsApp Link"
            class="size-16 drop-shadow z-50"
        />
    </a>
</div>
