---
import { siteConfig } from "../config";
const { gallery } = siteConfig;
---

<section id="Services" class="px-2 py-12">
    <div class="max-w-5xl mx-auto">
        <h2 class="font-bold text-4xl">Galería</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mt-4">
            {
                gallery.map((item, index) => {
                    return (
                        <figure class="w-full h-[320px] overflow-hidden rounded-md shadow hover:-translate-y-2 transition-transform group">
                            <img
                                src={item.url}
                                alt={item.alt}
                                class="w-full h-full object-cover group-hover:scale-110 transition"
                            />
                        </figure>
                    );
                })
            }
        </div>
    </div>
</section>
