---
import { siteConfig } from "../config";
const { services } = siteConfig;
---

<section id="Services" class="bg-gray-100 px-2 py-12">
    <div class="max-w-5xl mx-auto">
        <h2 class="font-bold text-4xl">Servicios</h2>
        <div class="flex flex-wrap w-full gap-8 md:gap-4 mt-4 justify-center">
            {
                services.map((item, index) => {
                    return (
                        <article class="bg-white shadow rounded-md sm:max-w-xs group">
                            <figure class="w-full h-[250px] overflow-hidden rounded-t-md">
                                <img
                                    src={item.image}
                                    alt={item.name}
                                    class="w-full h-full object-cover rounded-t-md group-hover:scale-110 transition"
                                />
                            </figure>
                            <div class="p-6">
                                <h3 class="text-xl font-bold">{item.name}</h3>
                                <p class="mt-2 text-pretty">
                                    {item.description}
                                </p>
                            </div>
                        </article>
                    );
                })
            }
        </div>
    </div>
</section>
